name: CI/CD

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest

    strategy:
      matrix:
        branch: [develop, main]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Set environment variables
        run: |
          if [ "${{ matrix.branch }}" = "main" ]; then
            echo "VITE_APP_ENV=production" >> $GITHUB_ENV
          else
            echo "VITE_APP_ENV=development" >> $GITHUB_ENV
          fi

      - name: Build
        run: npm run build

  release:
    name: Release (semantic-release)
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm install

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
