name: CI/CD

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          # cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Set environment variables
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "VITE_APP_ENV=production" >> $GITHUB_ENV
          else
            echo "VITE_APP_ENV=development" >> $GITHUB_ENV
          fi

      - name: Build
        run: npm run build

  release:
    name: Release (semantic-release)
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          # cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm install

      - name: Print first and last 4 chars of NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "NPM_TOKEN preview: ${NPM_TOKEN:0:4}...${NPM_TOKEN: -4}"


      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
